.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: #286aab;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

.cbutton__icon {
	display: block;
}

.cbutton__text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

/* Milan */
.cbutton--effect-milan::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

.cbutton--effect-milan::after,
.cbutton--effect-milan::before {
	border: 4px solid rgba(111,148,182,0.1);
}

.cbutton--effect-milan.cbutton--click::after {
	-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-1;
	animation-name: anim-effect-milan-3, anim-effect-milan-1;
	-webkit-animation-duration: 5s, 2s;
	animation-duration: 5s, 2s;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-timing-function: ease, linear;
	animation-timing-function: ease, linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.cbutton--effect-milan.cbutton--click::before {
	-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-2;
	animation-name: anim-effect-milan-3, anim-effect-milan-2;
	-webkit-animation-duration: 5s, 2s;
	animation-duration: 5s, 2s;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-timing-function: ease, linear;
	animation-timing-function: ease, linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes anim-effect-milan-1 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
	}
}

@keyframes anim-effect-milan-1 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
	}
}

@-webkit-keyframes anim-effect-milan-2 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
		transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
		transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
	}
}

@keyframes anim-effect-milan-2 {
	0% {
		-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
		transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
	}
	100% {
		-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
		transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
	}
}

@-webkit-keyframes anim-effect-milan-3 {
	0%, 100% {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
	}
}

@keyframes anim-effect-milan-3 {
	0%, 100% {
		opacity: 0;
	}
	25%, 75% {
		opacity: 1;
	}
}
