.box {
	padding: 50px;
	margin: 20px;
	border-radius: 5px;
	border: 1px solid #7f8c8d;
	width: 360px;
	position: static;
	text-align: center;
}

.inline {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.flash {
	padding: 10px;
	z-index: 100;
}

@media (max-width: 800px) {
	.inline {
		display: inline-block;
	}
}