@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

/*
* My Code
*/
/* Wrapper */

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-google-plus {
  color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
  color: white;
}
    body {
      margin: 0;
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
    }
    .bar {
      border-top: 10px solid #2ecc71;
      position: relative;
      top: 0;
      height: 10px;
    }
    .container {
      width: 60%;
      margin: auto;
      margin-bottom: 50px;
    }
    .user-info {
      padding-left: 160px;
      padding-right: 160px;
      padding-top: 100px;
      padding-bottom: 30px;
      text-align: center;
    }
    .user-posts article {
      margin-top: 100px;
    }
    .user-posts article p{
      line-height: 25px;
    }
    .user-posts article time {
      color: #7f8c8d;
    }
    .user-posts article:first-of-type {
      border-top: 1px solid #DEDEDE;
      padding-top: 50px;
    }
    .user-posts article:last-of-type {
      border-bottom: 1px solid #DEDEDE;
      padding-bottom: 50px;
    }
    .copyright {
      padding-top: 50px;
      text-align: center;
    }
    .social {
      display: inline;
      padding: 20px;
    }
    .img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
    }
    .img-rounded {
      border-radius: 6px;
    }
    .img-thumbnail {
      padding: 4px;
      line-height: 1.42857143;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
    .img-circle {
      border-radius: 50%;
    }

    @media (max-width: 800px){
      .container {
        width: 80%;
      }
      .user-info {
        padding: 100px;
      }
      .user-posts {
        padding: 100px;
      }
    }
    @media (max-width: 500px) {
      .container {
        width: 100%;
      }
      .user-info {
        padding: 60px;
        padding-top: 80px;
      }
    }


.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  min-height: 40px;
  height: auto;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box-comment {
  border: 1px solid #7f8c8d;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;
  margin: 10px;
}

.post h1 h2 h3 h4 h5 h6 {
  font-family: 'Gentium Book Basic', serif;
}

article .head {
  font-family: 'Arvo', serif;
}

article h1 h2 h3 h4 h5 h6{
  font-family: 'Gentium Book Basic', serif;
}

h2 {
  font-family: 'Arvo', serif;
}

.mdl-card {
  width: 100%;
}

.wide {
  width: 100%;
}

.fab {
  right: 2em;
  z-index: 999;
  bottom: 2em;
  position: fixed;
}

.fab-admin {
  z-index: 999;
  right: 5em;
  bottom: 2em;
  position: fixed;
}
.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}