@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 90px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


nav {
  position: fixed;
  height: 100%;
  width: 85px;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #1abc9c 0%, #27ae60 90%, #27ae60 90%, #27ae60 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#1abc9c), color-stop(90%,#27ae60), color-stop(90%,#27ae60), color-stop(100%,#27ae60)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#1abc9c 0%,#27ae60 90%,#27ae60 90%,#27ae60 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1e5799 0%,#1abc9c 0%,#27ae60 90%,#27ae60 90%,#27ae60 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1e5799 0%,#1abc9c 0%,#27ae60 90%,#27ae60 90%,#27ae60 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1e5799 0%,#1abc9c 0%,#27ae60 90%,#27ae60 90%,#27ae60 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#27ae60',GradientType=0 ); /* IE6-9 */
  z-index: 10;
}
nav li a {
  display: block;
  height: 66px;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  padding-top: 14px;
}
nav li a .fa {
  font-size: 32px;
  display: block !important;
  margin-bottom: 5px;
}
nav li:hover a {
  color: #d4d4d4;
}
nav li:active a {
  background-color: #292929;
  color: #fff;
}
nav .button a {
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 4px;
  color: #fff;
  width: 52px;
  height: 55px;
  padding: 0px;
  margin: 15px auto;
  text-align: center;
  padding-left: 3px;
}
nav .button i {
  padding-top: 10px;
}
nav .button:hover a {
  background-color: #000000;
  border-color: #000000;
  color: #fff;
}
nav li.active a {
  background-color: #353737;
  color: #fff;
}
nav li.active:hover a {
  background-color: #353737;
}
nav .notifications i {
  color: #e33f3f;
}
nav .notifications #notification-number {
  position: absolute;
  width: 85px;
  left: 0;
  color: #fff;
  font-size: 16px;
  top: 188px;
}
nav .notifications.no-notifications i {
  color: #222222;
}
nav .notifications.no-notifications #notification-number {
  color: #626666;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.up-menu {
  font-family: 'Lato', sans-serif;
  margin-left: 50px;
  list-style:none;
  display: flex;
  background: #FFFFFF;
  color: #989898;
  margin-top: 0;
  height: 60px;
  border-bottom: #eee 1px solid;
}
.up-menu li {
  padding-bottom: 10px;
}
.up-menu li:nth-child(1){
  font-size: 30px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 15px;
  border-spacing: 10px;
  height: 30px;
  border-right: #eee 2px solid;
}
.up-menu li:nth-child(1) i{
  padding-top: 5px;
}

.up-menu li:nth-child(2){
  width: 85%;
  border-right: #eee 2px solid;
  height: 30px;
  margin-top: 10px;
}

.up-menu li input[type=text]{
  outline: none;
  background-color: #FFFFFF;
  margin-left: 60px;
  border: none;
  vertical-align: top;
  margin-top: -30px;
}
.up-menu li:nth-child(2) i{
  padding-left: 15px;
  font-size: 24px;
  margin-top: 5px;
}

.up-menu li:nth-child(3) {
  height: 30px;
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
