@import url(http://fonts.googleapis.com/css?family=Questrial|Paytone+One|Orbitron|Cinzel|Luckiest+Guy);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
  color: #3d464d;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  overflow: hidden-x;
  /* Centering in The Unknown */
  text-align: center; }

@media (min-width: 650px) {
  html {
    height: 100%; }

  html:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }

  body {
    display: inline-block;
    vertical-align: middle;
    max-width: 38rem; } }
