@import url(http://fonts.googleapis.com/css?family=Rokkitt);

.container{
	padding-left: 5rem;
}

.head {
	font-size: 2rem;
	font-family: 'Rokkitt', serif;
	text-align: center;
}
.news ul {
  list-style: none; }
  .news ul li {
    -webkit-box-shadow: 0 3px 18px 3px rgba(52, 73, 94,1.0);
    box-shadow: 0 3px 18px 3px rgba(52, 73, 94,1.0);
    padding: 3rem;
    background: #ecf0f1;
    border-bottom: 0.062em solid #000;
    vertical-align: top; }
    .news ul li:nth-child(1) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
    .news ul li:nth-last-child(1) {
      border-bottom: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-box-shadow: 3px 3px 18px 3px rgba(52, 73, 94,1.0);
      box-shadow: 3px 3px 18px 3px rgba(52, 73, 94,1.0); }

.center {
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	width: 100vh;
	height: auto;
	padding: 1rem;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #95a5a6;
}

.center a {
	float: inherit;
}

.major-icon {
	padding: 11px;
	font-size: 2.5rem;
}

.bar {
  position: fixed;
  display: block;
  width: 70px;
  height: 100vh;

	background-color: #2e3641;
	text-align: center;
}
	.bar a {
		color: #c1cfd9;
		-webkit-transition: background .2s ease-out;
		-moz-transition: background .2s ease-out;
		-o-transition: background .2s ease-out;
		-ms-transition: background .2s ease-out;
		transition: background .2s ease-out;
	}
		.bar a:hover {
			text-decoration: none;
			background: #242B33;
		}

.side {
	width: 70px;
	height: 100vh;
	float: left;
}
	.side a {
		display: block;
		line-height: 90px;
		font-size: 22px;
	}					

a:hover {
	color: #1abc9c;
}

.news {
	margin-right: auto;
	margin-left: auto;
	width: 100vh;
	height: auto;
	margin-bottom: 0.625rem;
}

paper-shadow {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #27ae60;
}

input[type=text] {
	padding: 0.6rem;
	background-color: #95a5a6;
	border: 0.5px solid #2c3e50;
	border-radius: 5px;
}

input[type=text]:hover {
	background-color: #bdc3c7;
	-webkit-transition: all .25s ease-in-out;
	        -moz-transition: all .25s ease-in-out;
	         -ms-transition: all .25s ease-in-out;
	          -o-transition: all .25s ease-in-out;
	             transition: all .25s ease-in-out;     
}

input[type=text] {
	background-color: #ecf0f1;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 90%;
    margin-left: 60px;
    margin-right: 0; } }