body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 3.75rem;
}


input[type=text] {
	position: relative;
	display: inline-block;
	margin-top: 1em;
	width: 300px;
	vertical-align: top;
	padding: 10px;
	background-color: #7f8c8d;
	color: #ecf0f1;
	border: none;
	border-radius: 3px;
}

input[type=text]:focus {
	background-color: #95a5a6;
	outline: none;
}

.btn {
	padding: 10px;
	margin-top: 1em;
	font-size: 1em;
	background-color: rgba(22, 160, 133,0.6);
	outline: none;
	border: none;
	border-radius: 3px;
}

.btn:focus{
	background-color: rgba(26, 188, 156,1.0);
}

.result {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	width: 100vh;
 padding: 10px;
 border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border: none;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 3px 3px 100px 3px rgba(73,73,73,0.91) ;
  box-shadow: 3px 3px 100px 3px rgba(73,73,73,0.91) ;

}

.inline {
	display: inline-block;
}

p {
	text-transform: capitalize;
}
