@import "bourbon/bourbon"
@import "neat/neat"
.major-icon 
	padding: 11px
	font-size: 2.5rem


.bar 
	position: fixed
	display: block
	width: 70px
	height: 100vh

	background-color: #2e3641
	text-align: center

	a 
		color: #c1cfd9
		-webkit-transition: background .2s ease-out
		-moz-transition: background .2s ease-out
		-o-transition: background .2s ease-out
		-ms-transition: background .2s ease-out
		transition: background .2s ease-out
	
		&:hover 
			text-decoration: none
			background: #242B33
		

.side 
	width: 70px
	height: 100vh
	float: left

	a 
		display: block
		line-height: 90px
		font-size: 22px
	
a:hover
	color: #1abc9c					
	-webkit-transition: background .2s ease-out
	-moz-transition: background .2s ease-out
	-o-transition: background .2s ease-out
	-ms-transition: background .2s ease-out
	transition: background .2s ease-out
	

.container
	width: 960px
	margin-left: auto
	margin-right: auto


.mui-btn
	text-align: center
	vertical-align: middle
	-ms-touch-action: manipulation
	touch-action: manipulation
	cursor: pointer
	background-image: none
	border: none
	white-space: nowrap
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	transition: all 0.2s ease-in-out
	font-weight: 400
	font-size: 14px
	line-height: 18px
	letter-spacing: 0.05em
	color: rgba(0, 0, 0, 0.87)
	text-transform: uppercase
	height: 36px
	line-height: 36px
	padding: 0 26px
	border-radius: 2px
	margin-top: 6px
	margin-bottom: 6px
	position: relative
	display: inline-block
	overflow: hidden
	-webkit-animation-duration: 0.001s
	animation-duration: 0.001s
	-webkit-animation-name: mui-node-inserted
	animation-name: mui-node-inserted


.mui-btn-primary 
	color: #FFF
	background-color: #2196F3
	text-decoration: none


.mui-btn-primary:hover,
.mui-btn-primary:focus,
.mui-btn-primary:active,
.mui-open > .mui-btn-primary.mui-dropdown-toggle 
	color: #FFF
	background-color: #39a1f4


.mui-btn-primary[disabled],
.mui-btn-primary[disabled]:hover,
.mui-btn-primary[disabled]:focus,
.mui-btn-primary[disabled]:active,
fieldset[disabled] .mui-btn-primary,
fieldset[disabled] .mui-btn-primary:hover,
fieldset[disabled] .mui-btn-primary:focus,
fieldset[disabled] .mui-btn-primary:active 
	color: #FFF
	background-color: #2196F3


.mui-btn-primary.mui-btn-flat 
	color: #2196F3
	background-color: transparent


.mui-btn-primary.mui-btn-flat:hover,
.mui-btn-primary.mui-btn-flat:focus,
.mui-btn-primary.mui-btn-flat:active,
.mui-open > .mui-btn-primary.mui-btn-flat.mui-dropdown-toggle 
	color: #2196F3
	background-color: #f2f2f2


.mui-btn-primary.mui-btn-flat[disabled],
.mui-btn-primary.mui-btn-flat[disabled]:hover,
.mui-btn-primary.mui-btn-flat[disabled]:focus,
.mui-btn-primary.mui-btn-flat[disabled]:active,
fieldset[disabled] .mui-btn-primary.mui-btn-flat,
fieldset[disabled] .mui-btn-primary.mui-btn-flat:hover,
fieldset[disabled] .mui-btn-primary.mui-btn-flat:focus,
fieldset[disabled] .mui-btn-primary.mui-btn-flat:active 
	color: #2196F3
	background-color: transparent

