@import "bourbon/bourbon"
@import "neat/neat"
@import url(http://fonts.googleapis.com/css?family=Monofett|Questrial)
.title
	font-family: 'Monofett', cursive
	font-size: 3rem


input[type=text]
	outline: none

button
	outline: none

.btn-submit
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	width: 5rem
	height: 30px
	cursor: pointer
	margin: 0 auto
	border: 2px solid rgb(30,205,151)
	-webkit-border-radius: 40px
	border-radius: 40px
	font-size: 1.25rem
	color: rgb(30, 205, 151)
	text-align: center
	-o-text-overflow: clip
	text-overflow: clip
	letter-spacing: 1px
	background: rgba(0,0,0,0)
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0)
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0)
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0)
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0)

	&:hover
		color: rgba(255,255,255,1)
		background: rgb(30, 205, 151)

	&:active
		border: 2px solid rgba(33,224,163,1)
		background: rgba(33,224,163,1)
		-webkit-transition: none
		-moz-transition: none
		-o-transition: none
		transition: none

.input 
	display: inline-block
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	padding: 10px 20px
	border: 1px solid #b7b7b7
	-webkit-border-radius: 3px
	border-radius: 3px
	font: normal medium/normal Arial, Helvetica, sans-serif
	color: rgba(0,142,198,1)
	-o-text-overflow: clip
	text-overflow: clip
	background: rgba(252,252,252,1)
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66) 
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1)


	&:hover 
		border: 1px solid #a3a3a3
		background: rgba(255,255,255,1)
		-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1)
		-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1)
		-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1)
		transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1)


	&:focus 
		border: 1px solid #018dc4
		-webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset
		box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) inset
		-webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1)
		-moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1)
		-o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1)
		transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1)

.row
	width: 100vh
	margin-right: auto
	margin-left: auto
	display: inline
	.genre
		-webkit-box-sizing: content-box
		-moz-box-sizing: content-box
		box-sizing: content-box
		width: 100vh
		height: auto
		margin-left: auto
		margin-right: auto
		margin-top: 10px
		padding: 10px
		margin-bottom: 10px
		border: none
		text-align: center
		-o-text-overflow: ellipsis
		text-overflow: ellipsis
		-webkit-box-shadow: 0 2px 68px -6px rgba(0,0,0,0.91) 
		box-shadow: 0 2px 68px -6px rgba(0,0,0,0.91)